@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: black;
  color: white;
}

.attribution a {
  color: #3e52a3;
}

header {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../images/desktop/image-hero.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)), url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center center;
}

header nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  position: relative;
}

header nav ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -1rem;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header nav ul li a:hover:after, header nav ul li a:active:after {
  width: 50%;
  left: 25%;
}

header nav .mobile-menu {
  display: none;
}

header nav .close {
  display: none;
}

header .wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .wrapper .text {
  padding-top: 20rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

header .wrapper .text h1 {
  visibility: hidden;
  padding: 2rem 15rem 2rem 2rem;
  justify-self: flex-start;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5vw;
  font-weight: 300;
  color: white;
  position: relative;
  overflow: hidden;
}

header .wrapper .text h1:before {
  visibility: visible;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99.5%;
  height: 4px;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}

header .wrapper .text h1:after {
  visibility: visible;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 99.5%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
}

header .wrapper .text .load:before {
  visibility: visible;
  -webkit-transition: .2s transform linear, .5s height linear .2s;
  transition: .2s transform linear, .5s height linear .2s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 99.5%;
  border-color: white;
}

header .wrapper .text .load:after {
  visibility: visible;
  -webkit-transition: .4s transform linear .5s, .2s height linear .2s;
  transition: .4s transform linear .5s, .2s height linear .2s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 99.5%;
  border-color: white;
}

.interactive {
  padding-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.interactive img {
  position: relative;
}

.interactive .wrapper {
  max-height: 70vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive .wrapper img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 50%;
}

.interactive .wrapper .text {
  z-index: 1;
  margin-left: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 100%;
}

.interactive .wrapper .text h2, .interactive .wrapper .text p {
  text-align: left;
  width: 90%;
  background-color: white;
  padding: 10rem 5rem 0rem 10rem;
}

.interactive .wrapper .text p {
  padding-top: 2rem !important;
  font-size: 2rem;
  color: dimgray;
  width: 80%;
}

.interactive .wrapper .text h2 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3vw;
  padding-bottom: 0rem;
}

.creations {
  padding-top: 20rem;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.creations .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15rem;
}

.creations .heading h2 {
  text-transform: uppercase;
  font-size: 5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.creations .heading a {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
  padding: 1rem 4rem 1rem 4rem;
  border: solid black 2px;
  text-decoration: none;
  letter-spacing: .2rem;
}

.creations .heading a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
  background-color: black;
}

.creations .create {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 20%))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 20%));
  gap: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 110vh;
}

.creations .create .deep-earth {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/desktop/image-deep-earth.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/desktop/image-deep-earth.jpg);
}

.creations .create .deep-earth p {
  width: 70%;
}

.creations .create .night-arcade {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/desktop/image-night-arcade.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/desktop/image-night-arcade.jpg);
}

.creations .create .soccer-team {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/desktop/image-soccer-team.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/desktop/image-soccer-team.jpg);
}

.creations .create .grid {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/desktop/image-grid.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/desktop/image-grid.jpg);
}

.creations .create .up-above {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/desktop/image-from-above.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/desktop/image-from-above.jpg);
}

.creations .create .pocket {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/desktop/image-pocket-borealis.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/desktop/image-pocket-borealis.jpg);
}

.creations .create .curiosity {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/desktop/image-curiosity.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/desktop/image-curiosity.jpg);
}

.creations .create .fisheye {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/desktop/image-fisheye.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/desktop/image-fisheye.jpg);
}

.creations .create .deep-earth, .creations .create .pocket, .creations .create .fisheye, .creations .create .curiosity, .creations .create .soccer-team, .creations .create .up-above, .creations .create .grid, .creations .create .night-arcade {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.creations .create .deep-earth p, .creations .create .pocket p, .creations .create .fisheye p, .creations .create .curiosity p, .creations .create .soccer-team p, .creations .create .up-above p, .creations .create .grid p, .creations .create .night-arcade p {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  width: 80%;
  font-size: 2.2vw;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.creations .create .creation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.creations .create .creation:hover::before {
  opacity: 1;
}

.creations .create .creation:hover p {
  color: black !important;
}

.creations .create .grid p {
  width: 30%;
}

footer {
  overflow: hidden;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20rem;
}

footer a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -1rem;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

footer a:hover:after, footer a:active:after {
  width: 50%;
  left: 25%;
}

footer .wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrapper .first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .wrapper .first-line ul {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  list-style: none;
}

footer .wrapper .first-line ul a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  position: relative;
}

footer .wrapper .second-line {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

footer .wrapper .second-line .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .wrapper .second-line .social-icons a {
  position: relative;
}

footer .wrapper .second-line .social-icons a:hover:after {
  width: 100%;
  left: 0;
}

footer .wrapper .second-line p {
  padding-top: 2rem;
  font-size: 1.8rem;
  color: #8c8c8c;
}

@media (max-width: 800px) {
  header {
    height: 100vh;
  }
  header nav ul {
    position: absolute;
    bottom: 20vh;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li a {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
  }
  header nav .mobile-menu {
    display: block;
  }
  header .wrapper {
    padding-top: 15rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .text {
    padding-top: 5rem !important;
  }
  header .text h1 {
    font-size: 4.5rem !important;
    padding: 2rem 2rem 2rem 2rem !important;
  }
  .interactive .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .interactive .wrapper img {
    max-width: 100%;
  }
  .interactive .wrapper .text {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .interactive .wrapper .text p, .interactive .wrapper .text h2 {
    padding-top: 5rem !important;
    text-align: center;
    padding: 0;
  }
  .interactive .wrapper .text h2 {
    font-size: 3rem;
  }
  .creations {
    height: 250vh;
  }
  .creations .heading {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 5rem;
  }
  .creations .heading h2 {
    font-size: 4rem;
  }
  .creations .heading a {
    display: none;
  }
  .creations .create {
    -ms-grid-columns: (minmax(15rem, 100%))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 100%));
  }
  .creations .deep-earth {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/mobile/image-deep-earth.jpg) !important;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/mobile/image-deep-earth.jpg) !important;
  }
  .creations .night-arcade {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/mobile/image-night-arcade.jpg) !important;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/mobile/image-night-arcade.jpg) !important;
  }
  .creations .soccer-team {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/mobile/image-soccer-team.jpg) !important;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/mobile/image-soccer-team.jpg) !important;
  }
  .creations .grid {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/mobile/image-grid.jpg) !important;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/mobile/image-grid.jpg) !important;
  }
  .creations .up-above {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/mobile/image-from-above.jpg) !important;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/mobile/image-from-above.jpg) !important;
  }
  .creations .pocket {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/mobile/image-pocket-borealis.jpg) !important;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/mobile/image-pocket-borealis.jpg) !important;
  }
  .creations .curiosity {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/mobile/image-curiosity.jpg) !important;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/mobile/image-curiosity.jpg) !important;
  }
  .creations .fisheye {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/mobile/image-fisheye.jpg) !important;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url(../images/mobile/image-fisheye.jpg) !important;
  }
  .creations .deep-earth, .creations .pocket, .creations .fisheye, .creations .curiosity, .creations .soccer-team, .creations .up-above, .creations .grid, .creations .night-arcade {
    background-position: center center !important;
    background-size: cover !important;
    height: 20vh;
  }
  .creations .deep-earth p, .creations .pocket p, .creations .fisheye p, .creations .curiosity p, .creations .soccer-team p, .creations .up-above p, .creations .grid p, .creations .night-arcade p {
    width: 60% !important;
    font-size: 3rem !important;
  }
  .creations .create:after {
    -ms-grid-column-align: center;
        justify-self: center;
    content: "See all";
    text-transform: uppercase;
    color: black;
    font-size: 2rem;
    padding: 1rem 4rem 1rem 4rem;
    border: solid black 2px;
    text-decoration: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-family: "Josefin Sans", sans-serif;
  }
  footer {
    margin-top: 5rem;
  }
  footer .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .wrapper .first-line {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper .first-line ul {
    padding-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .wrapper .second-line {
    padding-top: 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */